/* FUENTES ELEGIDAS

font-family: 'Exo', sans-serif;
font-family: 'Martel', serif;
font-family: 'Nunito', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    font-family: 'Martel', serif;
}

a {
    text-decoration: none;
}

.contenedor {
    width: 90%;
    /* Aquí establezo el ancho máximo de la página */
    max-width: 800px;
    /* Con margin auto, el contenedor principal 
    de la página va a estar siempre centrado */
    margin: auto;
}

/* -------------------------------------------
                    HEADER 
----------------------------------------------*/

header {
    /* De esta manera deja un padding superio e inferior 
    de 40 pixeles */
    padding: 40px 0;
}

header .logo {
    /* Estilos del título y subtítulo de la página */
    text-align: center;
    margin-bottom: 40px;
}

header .logo p {
    /* Estilos específicos del subtítulo */
    color: #9b9b9b;
}
header form {
    width: 100%;
    /* Uso display flex para organizar los 
    elementos internos de los contenedores */
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

header .barra-busqueda {
    /* Estilos de la barra del input (barra de búsqueda) */
    width: 70%;
    height: 40px;
    /* Para centrar el texto dentro del input */
    line-height: 40px;
    background: white;
    /* Cuando se ponene solo dos medidas, css asume
    que la primera es up and bottom y la segunda es
    para los lados */
    padding: 0 20px;
    /* Redondea los lados del field del input para que 
    queden como media circunferencia */
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
}

header .categorias {
    /* Uso de flexbox para organizar los nombres 
    de las categorías */
    display: flex;
    /* Centrar todos los elementos de las categorías */
    justify-content: center;
    /* Flex wrap apila los elementos a medida que la 
    pantalla se va achicando */
    flex-wrap: wrap;
}

header .categorias a {
    /* Estilos de los textos de las categorías */
    color: #9b9b9b;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 500;

}

header .categorias a.activo {
    /* Estilo del texto de la categoría que 
    está activa por defecto al abrir el index */
    color: #000;
}

/* -------------------------------------------
                    GRID 
----------------------------------------------*/

.grid {
    position: relative;
    /* Para que abarque la totalidad del espacio 
    del contenedor previamente creado */
    width: 100%;
    /* Esta configuración se incluye para que todas
    las imagenes carguen al mismo tiempo y no una tras
    otra, dando un mejor efecto visual */
    /* Opacity cero hace que al inicio el espacio 
    donde van las imagenes se vea vacío y luego va a 
    cargar las imagenes con un delay (transición)  */
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
    opacity: 1;
}

.grid .item {
    /* Para trabajar con la librería de Muuri
    se necesita que la posición sea absoluta. 
    Esta es una condición propia de la librería
    para trabajar correctamente con su algoritmo
    que calcula cómo reorganiza las imagenes en modo
    responsive y al hacer click sobre los elementos */
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    /* De esta manera el espacio queda dividido en 3 partes
    iguales en sentido vertical */
    /* Es necesario restar los pixeles del margin que 
    quedan a lado y lado de la imagen, porque de otra manera 
    se dañaría la disposición de los elementos y la tercera 
    imagen se pasaría hacia abajo al no caber completa */
    width: calc(33.333333% - 20px);
}

.grid .item-contenido {
    position: relative;
}

.grid .item img {
    /*  Para que la imagen abarque el espacio 
    completo que le fue asignado anteriormente */
    width: 100%;
    /* Para que el cursor cambie a una manito al pasarlo 
    por encima de la imagen */
    cursor: pointer;
    vertical-align: top;
}









